{% load crispy_forms_tags %}
{% include 'navibar/header.html' %}

<style>
    .booking-errors{
        padding: 15px;
        background: #e45e5e;
        color: white;
        border-radius: 25px;
        font-size: 14px;
        margin-top: 20px;
    }
    .check-museums{
        color: darkblue;
        margin-left: 8px;
    }
</style>

 <div class="container">
    <div class="col-lg-8 mx-auto">
        {% if errors %}
            <p class="text-center booking-errors">{{errors}}
                <span><a href="{% url 'home' %}" class="check-museums">Check other museums</a></span>
            </p>
        {% endif %}
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-8">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title text-center">Booking User Identity</h5>
              </div>
              <div class="card-body">
                  <form action="" method="post" enctype="multipart/form-data" e>
                      {% csrf_token %}
                      <div class="row">
                          <div class="col-6">{{ form.firstName|as_crispy_field }}</div>
                          <div class="col-6">{{ form.lastName|as_crispy_field }}</div>
                          <div class="col-6">{{ form.phoneNumber|as_crispy_field }}</div>
                          <div class="col-6">{{ form.email|as_crispy_field }}</div>
                          <div class="col-6">{{ form.check_in|as_crispy_field }}</div>
                          <div class="col-6">{{ form.check_out|as_crispy_field }}</div>
                      </div>
                      <div class="text-center">
                          <button class="btn btn-sm btn-success w-50 mt-4">Book</button>
                      </div>
                  </form>
              </div>
            </div>
        </div>
    </div>
 </div>
<footer class="text-muted py-5" style="background-color: #2c3034; margin-top: 5px">
    {% include 'navibar/footer.html' %}
</footer>
